* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.mathology {
    padding: 50px;
    background-color: goldenrod;
}

.mathology h1 {
    float: left;
    margin-left: 10%;
}

.mathology ul {
    font-size: 20px;
    margin-left: 60%;
    list-style-type: none;
}

.mathology li {
    margin-top: 10px;
    float: left;
    padding: 0 20px 0 20px;
}

.mathology a {
    text-decoration: none;
    color: #000000;
}

.square a {
    color: #000061;
    text-decoration: underline;
}

.place {
    display: grid;
    grid-template-columns: 1fr 20%;
}

.logic {
    font-size: 65px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    padding-top: 15%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.logic h1 {
    padding: 20px;
    display: inline;
}

.pick {
    font-size: 67px;
    margin-right: 10px;
    display: grid;
}

.pick h1 {
    cursor: pointer;
    color: #303030;
    border-radius: 7px;
    margin-top: 10px;
    text-align: center;
    display: grid;
}

#right1 {
    background-color: #DAA520;
    transition: 1s;
}

#right1:hover {
    color: bisque;
}

#right2 {
    background-color: #DAA520;
    transition: 1s;
}

#right2:hover {
    color: bisque;
}

#right3 {
    background-color: #DAA520;
    transition: 1s;
}

#right3:hover {
    color: bisque;
}

#fig1 {
    color: black;
}

#fig2 {
    color: blue;
}

#fig3 {
    color: #696969;
}

#fig4 {
    color: black;
}

#fig5 {
    color: green;
}

#score-container,
#timer-container {
    margin-top: 5%;
    font-size: 40px;
    font-weight: bold;
}

#current-score {
    font-size: 70px;

}

#timer {
    color: red;
    font-size: 60px;
    font-weight: bold;
}

@media (max-width: 1160px) {
    .nav h1 {
        font-size: 1.6rem;
        float: none;
        text-align: center;
    }

    .place {
        grid-template-columns: 1fr;
    }

    nav {
        float: none;
        display: flex;
        justify-content: center;
    }

    .mathology ul {
        font-size: 16px;
        margin-left: 10%;
        display: flex;
    }

    nav li {
        font-size: 1rem;
        display: flex;

    }
}

/* Styles for screens with a maximum width of 768px (commonly used for mobile devices) */
@media screen and (max-width: 768px) {
    .mathology h1 {
        margin-left: 5%;
    }

    .mathology ul {
        font-size: 16px;
        margin-left: 10%;
        display: flex;
    }

    .place {
        grid-template-columns: 1fr;
    }

    .logic {
        font-size: 30px;
        /* Decrease font size for smaller screens */
        padding: 15% 0;
        margin: 10px;
    }

    .pick {
        font-size: 35px;
    }

    #score-container,
    #timer-container {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width: 480px) {
    .nav h1 {
        float: none;
        text-align: center;
    }

    .logic h1 {
        display: inline;
        padding: 10px;
    }

    nav li {
        font-size: 1rem;
        padding: 0 20px 0 20px;
        display: flex;
    }

    .place {
        grid-template-columns: 1fr;
    }
}